In [ ]:
"""
Q1. How do you comment code in Python? What are the different types of comments?
Ans :

There are two ways in which we can give a comment in python
1. Single line comment : This can be given using #
  Ex:
  # This is a comment
"""
#2. Multi line comment : This can be given using 3 double qoutes
   #Example:
"""
This is comment 1
This is comment 2
This is comment 3
"""

In [6]:
"""
Q2. What are variables in Python? How do you declare and assign values to variables?
Ans : A Python variable is a symbolic name that is a reference or pointer to an object.
Once an object is assigned to a variable, you can refer to the object by that name.
But the data itself is still contained within the object.
Example :
"""
var1 = 123
print(type (var1))
var2 = True
print(type (var2))
var3 = "123"
print(type (var3))
var4 = 123.456
print(type (var4))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>

In [8]:
"""
Q3. How do you convert one data type to another in Python?
Ans :
"""
#Example 1 :
# declare a int variable
var1 = 100

#convert it into string
var2 = str(var1)

print(type(var1), type(var2))

#Example 2 :
# declare a list
var1 = [1,2,3,4,5]

#convert it into set
var2 = set(var1)

print(type(var1), type(var2))

<class 'int'> <class 'str'>
<class 'list'> <class 'set'>

In [ ]:
"""
Q4. How do you write and execute a Python script from the command line?
Ans :
First we create a python script in a file example :
1. Create file : MyCode.py
2. Add your code in that file :
3. Go to command line and write python space file name
  Ex : python MyCode.py

  This command will execute the python script from the command line

"""

In [10]:
"""
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

"""

my_list = [1, 2, 3, 4, 5]
sub_list = my_list [1:3]
print(sub_list)

[2, 3]

In [11]:
"""
Q6. What is a complex number in mathematics, and how is it represented in Python?
Ans : Complex number is a number which contains two parts, real and imaginory part
Example :
3 + 4j
10 + 20j

In above example 3 and 10 are real parts and 4j and 20j are imaginary  part

imaginary  parts are represented using "j"

"""
var1 = 3 + 4j
print(type(var1))

<class 'complex'>

In [14]:
"""
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

"""
age = 25
age

25

In [15]:
"""
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?
Ans : float
"""
price = 9.99
type(price)

float

In [16]:
"""
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?
Ans : using print function we can display tha value of variable
"""

name = "Aniket Arun Kalan"
print(name)

Aniket Arun Kalan

In [19]:
"""
Q10. Given the string "Hello, World!", extract the substring "World".
Ans : we can use slicing to get the substring "World" from string "Hello, World!"
In python, indexing starts with 0, and letter H in above string is present at index 7
So starting of the slicing will be 7
then letter d is at index 11 but in python in slicing last index is not returned so we will write 12 so that letter at index 11 will also be returned
Example :
"""
str1 = "Hello, World!"
print(str1[7:12])

World

In [20]:
"""
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.
"""
is_student = True
type(is_student)

bool