In [17]:
# Assignment 1

In [18]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
"""
var1 = "Aniket"
var2 = [1,2,"Test", True]
var3 = 3.14
var4 = (1,10,100,200)

In [21]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
"""
var1 = ' '  # type = str
print(type(var1))
var2 = '[ DS , ML , Python]'  # type = str
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]  # type = list
print(type(var3))
var4 = 1.  # type = float
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [23]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""
# /  used to divide 2 numbers
a = 10 / 3
print(a)

# % used to get reminder
b = 10 % 3
print(b)

# // used to get integer part of division
c = 10 // 3
print(c)

# **  used to return power of given number
d = 10**3
print(d)

3.3333333333333335
1
3
1000

In [25]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""

a = [1, 10, 'Aniket', (1,2), [3,4] , 5+6j , 3.14, True, {'k1':'val1', 'k2' : 2}, "pwskills"]
for vals in a:
  print('Value = ', vals , ' Data Type = ' , type(vals))

Value =  1  Data Type =  <class 'int'>
Value =  10  Data Type =  <class 'int'>
Value =  Aniket  Data Type =  <class 'str'>
Value =  (1, 2)  Data Type =  <class 'tuple'>
Value =  [3, 4]  Data Type =  <class 'list'>
Value =  (5+6j)  Data Type =  <class 'complex'>
Value =  3.14  Data Type =  <class 'float'>
Value =  True  Data Type =  <class 'bool'>
Value =  {'k1': 'val1', 'k2': 2}  Data Type =  <class 'dict'>
Value =  pwskills  Data Type =  <class 'str'>

In [33]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""
# Initialise 2 numbers
A = 144
B = 2

count = 0

while A >= B and A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"Number A is divisible by B {count} times.")
else:
    print("Number A is not divisible by B.")

Number A is divisible by B 4 times.

In [38]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""
# declare a list containing 25 int data types
l1 = [a*10 for a in range (1,26)]

print(l1)

for l in l1:
  if l % 3 == 0 :
    print(f'{l} is divisible by 3')
  else:
    print(f'{l} is NOT divisible by 3')

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]
10 is NOT divisible by 3
20 is NOT divisible by 3
30 is divisible by 3
40 is NOT divisible by 3
50 is NOT divisible by 3
60 is divisible by 3
70 is NOT divisible by 3
80 is NOT divisible by 3
90 is divisible by 3
100 is NOT divisible by 3
110 is NOT divisible by 3
120 is divisible by 3
130 is NOT divisible by 3
140 is NOT divisible by 3
150 is divisible by 3
160 is NOT divisible by 3
170 is NOT divisible by 3
180 is divisible by 3
190 is NOT divisible by 3
200 is NOT divisible by 3
210 is divisible by 3
220 is NOT divisible by 3
230 is NOT divisible by 3
240 is divisible by 3
250 is NOT divisible by 3

In [40]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""
# Mutable - Mutable data types can be modified after they are created. Ex: Dictionary and List
# Immutable - data types cannot be modified once created. Ex: String and Tuple

# Mutable:
l1 = [1,2,3,4]
l1[2] = 100
print(l1)  # [1,2,100,4]

# Immutable:
str1 = "Aniket"
str1[2] = 'T' # will raise error
print(str1)

[1, 2, 100, 4]

TypeError: ignored