In [ ]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans :
Database : A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, updating, and querying of information.
         It serves as a central repository for storing and managing data used by applications, systems, and users.
There are 2 types of database systems :
1. SQL : It stands for Structured Query Language. In SQL databases data are stored in the form of tables with predefined schema.
          and data in those table is structured way means for all records, schema will be the same. These tables have fixed columns and column size
          SQL databases typically provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional reliability
          Example : MySQL, Oracle, PostgreSQL

2. NoSQL :It stands for Not only Structured Query Language. These type of database systems are designed to handle unstructured, semi-structured, or rapidly changing data
          In this, data is stored in the form of collection. Data is in the key value pair ( json or dictionary  format)
          Data is unstructured. NoSQL Databases handle large amounts of data and high traffic loads
          Example : MongoDB, Cassandra

"""

In [ ]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans : DDL stands for Data Definition Language. The DDL statements are auto commited. Below are the examples of DDL statements:
    1. CREATE : This command is used to create a table/ function / procedure
                 Example : CREATE TABLE students (
                            id NUMBER,
                            name VARCHAR2(100),
                            email VARCHAR2(100)
                            );
    2. DROP : This command is used to drop the object (Table / function / procedure etc)
                Example : DROP TABLE students;
    3. ALTER : This command is used to ALTER or modify the structure of the table
                Example : ALTER TABLE students ADD date_of_birth DATE;  -- This command will add date_of_birth column in students table
    4. TRUNCATE : This command is used to delete all the data from the table:
                Example : TRUNCATE TABLE students;

"""

In [3]:
"""
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans : DML stands for Data Manipulation Language. It is used to manipulate data within a database.
      These statements required explicit COMMIT to commit the data in the table.
      Below are the examples of DML statements:
    1. INSERT: This command is used to insert the data in the table:
              Example : INSERT INTO students
                          (id, name, email)
                        VALUES
                          (1, 'Aniket' , 'aniket@gmail.com');

    2. UPDATE: This command is used to update the specific value in the column in the table
              Example : UPDATE students
                          SET name = 'ANIKET'
                        WHERE id = 1;
    3. DELETE : This command is used to delete the data from the table
              Example : DELETE FROM students WHERE id = 1;

"""

In [3]:
"""
Q4. What is DQL? Explain SELECT with an example.
Ans : DQL stands for Data Query Language. This command is used to view the data from the table. This command does not modify or manipulate the data inside the table
    SELECT : This command is used to view the data from the table
      Example : SELECT * FROM students;  -- Here * means display all columns
                SELECT id, name FROM students  -- Here only id and name column data will be displayed

"""

In [ ]:
"""
Q5. Explain Primary Key and Foreign Key.
Ans :
Primary Key : Primary key can be created on single or a group of columns. If primary key is created on any column then that column can contain only unique data
              Null is also not allowed for primary key column.So it serves as a unique identifier and ensures that there are no duplicate or null values in the key columns
              Primary keys are often used to establish relationships between tables. They can be referenced as foreign keys in other tables to create associations or enforce referential integrity
              Example :
                CREATE TABLE dept (
                  dept_id INT PRIMARY KEY,
                  dept_name VARCHAR(50)
                );
                In above example dept_id is the primary key for table dept.

Foreign Key : A foreign key is also a column or a set of columns in a database table that refers to the primary key of another table
              It is used to establish a relationship between two tables. There can be a null value in the foreign key column
              The foreign key helps maintain consistency between related tables. It ensures that data in the child table corresponds to data in the parent table.
              Example :
                CREATE TABLE emp (
                  emp_id INT PRIMARY KEY,
                  emp_name VARCHAR(50),
                  dept_id INT,
                  FOREIGN KEY (dept_id) REFERENCES dept(dept_id)
                );
              in above table, dept_id is the foreign key of emp table and it refers to the dept_id column of dept table.
              While inserting data into emp table the dept_id must be present  in the dept table otherwise data will not get inserted

"""

In [ ]:
"""
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans : Below is the code to connect MySQL database to Python.
mysql package must be imported first.
then mysql.connector.connect method is uesd to establish the connection
we can pass host, username and password to the above method so that python code will be connected to the MySQL database

cursor() This method is used to create the cursor object. The cursor object allows us to execute SQL queries and fetch the results

execute() This method is used to execute the query on the database
"""
import  mysql.connector as con

conn = con.connect(host='localhost', username = 'abc', password = 'password', database = 'TEST')

cursor = conn.cursor()

cursor.execute('select * from students')

for rec in cursor.fetchall():
    print(rec)

cursor.close()
conn.close()

In [ ]:
"""
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans : The order of execution of sql is as follows:
FROM, JOIN, WHERE, GROUP By, HAVING,  SELECT, DISTINCT,ORDER BY, LIMIT

Example:
SELECT DISTINCT dept_name, COUNT(1) as num_of_emp_in_dept
FROM emp
JOIN dept ON emp.dept_id = dept.dept_id
WHERE emp.salary > 100
GROUP BY dept_name
HAVING COUNT(1) > 5
ORDER BY num_of_emp_in_dept DESC
LIMIT 10;
"""