In [12]:
"""
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
"""
l1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_data = sorted(l1, key=lambda x: x[1])
sorted_data

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [14]:
"""
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
"""
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : x**2 , l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
"""
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
"""

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x : str(x) , l1 ))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [20]:
"""
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.
"""
from functools import reduce
l1 = list(range(1,26))
print(l1)
print("product of above list : ")
reduce(lambda x , y : x*y , l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
product of above list :

15511210043330985984000000

In [23]:
"""
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
"""
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(l1)
print("Numbers in above list that are divisible by 2 and 3 are : ")
l1 = list(filter(lambda x : x % 2 == 0 and x  % 3 == 0 , l1))
print(l1)

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
Numbers in above list that are divisible by 2 and 3 are :
[6, 60, 90, 120]

In [24]:
"""
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

"""
l1 = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x == x[::-1], l1))

['php', 'aba', 'radar', 'level']